.progress-pane {
  background-color:rgba(255,255,255,0.7);
}

.task-bar-list {
  border-color: black;
}

.label-outside {
  color: black;
}

.infofield {
  background-color: #d9e0e3;
  border-color: #777;
}
