.container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.panel-body.small-panel {
  padding: 3px 8px 3px 8px;
}

.panel-body.smaller-panel {
  padding: 0px 6px 0px 6px;
}

.panel.no-margin {
  margin-bottom: 0px;
}

/* tutorial info pane and its (i) marker */
.infofield {
  max-width: 300pt;
  padding: 4pt;
  border-color: #ddf;
  
  /* floaty */
  float: left;
  margin: 10pt;
}

hr, dl {
  clear: left;
}

.info-marker {
  font-size: 35px;
  float: left;
  margin: 5pt 5pt 0 0;
  line-height: 1;
}

.progress {
  margin-bottom: 0px;
}

.progress-container {
  width: 512px;
  height: 507px;
  margin-bottom: 5.5px;
  padding: 10px;
  overflow-y: auto;
}

.progress-pane {
  position:absolute;
  top:0px;
  margin:0px;
  margin-bottom:5px;
}

.task-bar-list {
  width: 100px;
  margin: 5px;
  border-radius: 2.5px;
  border: 1px solid;
}

/* turn off progress bar animations */
.progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* href="#" overwrites our anchor state, so use class="ajaxLink" instead */
.ajaxLink {
  cursor: pointer;
  cursor: hand;
}

.panel.status-panel {
  display: inline-block;
  background-color: #f4f4ff;
}

.workerlist {
  display: inline-block;
}

.starts-hidden {
  display: none;
}

hr.sane {
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: #aaa;
}

hr.semisane {
  margin-top: 7px;
  margin-bottom: 7px;
  border-color: #aaa;
}

.helping {
}

input[type="text"] {
  padding-left: 3px;
}

.worker-marker {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
}

.CodeMirror {
  width: 600px;
  height: 496px;
  
  font-size: 8pt;
  font-family: monospace;
}

.render-canvas {
  margin-top: 6px;
  width : 512px;
  height: 512px;
  z-index: 1000;
}

.canvas-wrapper {
  /* center the canvas x/y */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border: 1px solid;
  border-radius: 2px;
  width: 514px;
  height: 514px;
}

.canvas-downscaled:hover {
  cursor: zoom-in;
}

.canvas-fullsize:hover {
  cursor: zoom-out;
}

.canvas-fullsize {
  position: fixed;
  top: 50%;
  left: 50%;
}

#console {
  border:1px solid;
  height: 100px;
  overflow-y: scroll;
  line-height: 110%; 
}

.error-icon {
  background-color: #f55;
  font-weight: bold;
  overflow: hidden;
  color: yellow;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 2px 3px 2px 3px;
  width: 12px; height: 12px;
}

.error-marker {
  background-color: rgba(255, 64, 64, 0.2);
  /* border: 1px solid rgba(255, 0, 0, 0.4); */
  border-radius: 0px;
}

.error-gutter {
  width: 12px;
}

.nav-tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.nav-tabs > li > a {
  padding: 0px 3px;
}

/* always underline, even when hovering */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: underline;
}
