#progress-pane {
  background-color:rgba(0,0,0,0.7);
}

.task-bar-list {
  border-color: white;
}

.label-outside {
  color: white;
}

.heading {
  color: white;
}

pre {
  color: white;
  background-color: #282828;
}